body {
    font-family: Verdana, sans serif;
    overflow: scroll;
    width: 100%;
    margin: auto;
}

.mainContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.navbar {
    background-color: #white;
}

#companyIcon{
    margin: 10px;
    float: left;
    max-width:100%;
    max-height:auto;
}

a{
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    color: #151814;
}

ul{
    text-align: right;
    padding: 10px;
    margin: auto;
}

li{
    list-style: none;
    display: inline-block;
    margin: 40px 20px 0px 20px;
}

.selected {
    color: #0066ff;
}

#breadcrumb {
    background-color: #f2f2f2;
}

.breadcrumb-child {
    text-color: #grey;
}

#pageLocationTitle{
    font-size: 22px;
    color: #0066ff;
    padding: 30px;
    margin: auto;
}

.topContainer {
    background-color: #white;
}

#homepageImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bottomContainer {
    background-color: #white;
}

#buttonContainer{
   width: 100%
   height: 400px;
   background-color: #white;
   margin: auto;
   text-align: center;
}

#loginText{
    font-size: 20px;
    padding: 10px 10px 5px;
    margin: auto;
}

#loginButton{
    background-color: #0066ff;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 8px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 6px 8px;
    cursor: pointer;
}

#registerText{
    font-size: 20px;
    padding: 10px 10px 5px;
    margin: auto;
}

#registerButton{
    background-color: #2eb82e;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 8px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 6px 8px;
    cursor: pointer;
}

.footer {
    background-color: #white;
}

.containerRow {
    width: 75%;
    background-color: #white;
}

#containerSubRow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 20px auto;
}

.sectionTitle {
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    color: #151814;
    margin: auto 0px auto;
}

.addConnectionButton {
    background-color: #0066ff;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 8px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 6px 8px;
    cursor: pointer;
}

#payConnectionContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    background-color: #f2f2f2;
}

#containerItems {
    padding-bottom: 30px;
}

#amountAmountSelector{
    align-self: flex-start;
}

#descriptionInput{
}

.payButton {
    background-color: #2eb82e;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 8px 65px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 6px 8px;
    cursor: pointer;
}

#transactionsSubRow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 20px auto;
}

#transactionsTable {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 20px auto;
}

table {
    table-layout: auto;
    width: 100%;
    border: 2px solid black;
    border-collapse: collapse;
}

table tr:nth-child(even) {
    background-color: #white;
}
table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

th {
    background-color: #2eb82e;
    color: white;
    padding: 40px;
}

tr, td {
    padding: 40px;
    text-align: center;
}

#paginationElement {
    text-align: center;
    margin: auto;
}

.pagination {
    display: inline-block;
}

.pagination a {
  color: #0066ff;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #0066ff;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}




.login {
    position: relative;
    margin: 50px auto;
    padding: 30px 30px 30px;
    width: 310px;
    background: white;
}

#loginIcon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid transparent;
    margin-top: -10px;
    margin-bottom: 20px;
}

.login:before {
    content: '';
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    z-index: -1;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}

.login h1 {
    margin: -20px -20px 21px;
    line-height: 40px;
    font-size: 15px;
    font-weight: bold;
    color: #555;
    text-align: center;
    background: #f3f3f3;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
}

.login p {
    margin: 20px 0 0;
}

.login p:first-child {
    margin-top: 0;
}

.login input[type=text], .login input[type=password] {
    width: 278px;
}

.login p.remember_me {
    float: middle;
    text-align: center;
    line-height: 31px;
}

.login p.remember_me label {
    font-size: 14px;
    color: #777;
    cursor: pointer;
}

.login p.remember_me input {
    position: relative;
    bottom: 1px;
    margin-right: 4px;
    vertical-align: middle;
}

.login p.submit {
    text-align: center;
}

.login-register {
    margin: 20px 0;
    font-size: 14px;
    color: #555;
    text-align: center;
}

.login-register a {
    color: #2eb82e;
    text-decoration: none;
}

.login-register a:hover {
    text-decoration: underline;
}

.login-returnHome {
    margin: 20px 0;
    font-size: 14px;
    color: #555;
    text-align: center;
}

.login-returnHome a {
    color: #2eb82e;
    text-decoration: none;
}

.login-returnHome a:hover {
    text-decoration: underline;
}

input {
    font-family: Verdana, sans serif;
    font-size: 14px;
}

input[type=text], input[type=password] {
    margin: 5px;
    padding: 0 10px;
    width: 200px;
    height: 34px;
    color: #404040;
    background: white;
    border: 1px solid;
    border-color: #c4c4c4 #d1d1d1 #d4d4d4;
    border-radius: 2px;
    outline: 5px solid #eff4f7;
}

input[type=text]:focus, input[type=password]:focus {
    border-color: #7dc9e2;
    outline-color: #dceefc;
    outline-offset: 0;
}

input[type=submit] {
    background-color: #0066ff;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 8px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
/*    padding: 0 18px;
    height: 29px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background: #1a75ff;
    border: 1px solid;
    border-radius: 16px;
    outline: 0;
    box-sizing: content-box;*/
}

input[type=submit]:active {
    background: #cde5ef;
}

.registerTitle {
    text-align: center;
    margin-bottom: 30px;
    margin-top: -10px;
}

.contactText {
    text-align: center
}

.text-danger {
    color: red;
    text-align: center;
    margin: auto;
}
