<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <title>Home</title>
</head>
<body>
<div class="mainContainer">
    <div class="navbar">
        <ul>
            <li id="companyIcon"><img src="../static/images/icon.png" th:src="@{/images/icon.png}"
                    alt="Company Icon"></li>
            <li><a class="selected" href="/user/home">Home</a></li>
            <li><a href="/user/transfer">Transfer</a></li>
            <li><a href="/user/profile">Profile</a></li>
            <li><a href="/user/contact">Contact</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
    <div id="breadcrumb">
        <div id="pageLocationTitle">Home</div>
    </div>
    <div class="topContainer">
        <div class="welcomeText">
            <h2>Welcome, <span th:text="${#authentication.getPrincipal().getDisplayName()}"/>!</h2>
        </div>
        <img id="homepageImage" src="../static/images/homeimage.png" th:src="@{/images/homeimage.png}"
             alt="Company Logo">
    </div>
</div>
</body>
</html>