<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../static/css/style.css" type="text/css" rel="stylesheet" th:href="@{/css/style.css}">
    <title>Home</title>
</head>
<body>
<div class="mainContainer">
    <div class="navbar">
        <ul>
            <li id="companyIcon"><img src="../static/images/icon.png" th:src="@{/img/icon.png}"
                alt="Company Icon"><a href="/"></a></li>
            <li><a class="selected" href="/">Home</a></li>
            <li><a style="color:grey" href="#">Transfer</a></li>
            <li><a style="color:grey" href="#">Profile</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </div>
    <div id="breadcrumb">
        <div id="pageLocationTitle">Home</div>
    </div>
    <div class="topContainer">
        <img id="homepageImage" src="../static/images/homeimage.png" th:src="@{/img/homeimage.png}"
             alt="Company Icon">
    </div>
    <div class="bottomContainer">
        <div class="login-register">
            <p>Have an account? <a style="color:#0066ff" href="/login">Click here to login</a>.</p>
            <p>New to Pay My Buddy? <a style="color:#2eb82e" href="#">Click here to create an account</a>.</p>
        </div>
    </div>
    <div class="footer"></div>
</div>
</body>
</html>