<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../static/css/style.css" type="text/css" rel="stylesheet" th:href="@{/css/style.css}">
    <title>Login</title>
</head>
<body>
<div class="mainContainer">
    <div class="navbar"></div>
    <div class="topContainer">
        <div class="login">
            <img id="loginIcon" src="../static/images/icon.png" th:src="@{/images/icon.png}"
                 alt="Company Icon">
            <form name="form" method="post" th:action="@{/perform_login}">
                <div th:if="${param.error}">
                    <div class="text-danger">Invalid username or password.</div>
                </div>
                <div th:if="${param.logout}">
                    <div class="text-danger">You have been logged out.</div>
                </div>
                <p><input type="text" name="email" placeholder="Email"></p>
                <p><input type="password" name="password" placeholder="Password"></p>
                <p class="remember_me">
                    <label>
                        <input type="checkbox" name="remember_me" id="remember_me">
                        Remember Me
                    </label>
                </p>
                <p class="submit"><input type="submit" value="Login"></p>
            </form>
        </div>
    </div>
    <div class="bottomContainer">
        <div class="login-register">
            <p>New to Pay My Buddy? <a href="/register">Click here to create an account</a>.</p>
        </div>
<!--        <div class="login-returnHome">-->
<!--            <p>Return to the main page: <a style="color:#b3b3b3" href="/home">Home</a>.</p>-->
<!--        </div>-->
    </div>
    <div class="footer"></div>
</div>
</body>
</html>
