<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <title>Profile</title>
</head>
<body>
<div class="mainContainer">
    <div class="navbar">
        <ul>
            <li id="companyIcon"><img src="../static/images/icon.png" th:src="@{/images/icon.png}"
                                      alt="Company Icon"></li>
            <li><a href="/user/home">Home</a></li>
            <li><a href="/user/transfer">Transfer</a></li>
            <li><a class="selected" href="/user/profile">Profile</a></li>
            <li><a href="/user/contact">Contact</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
    <div id="breadcrumb">
        <div id="pageLocationTitle">Home / <span style="color:grey">Profile</span></div>
    </div>
    <div class="topContainer">
        <div class="welcomeText">
            <h2>User Name: <span th:text="${#authentication.getPrincipal().getDisplayName()}"/></h2>
            <h3>Email: <span th:text="${#authentication.getPrincipal().getUsername()}"/></h3>
        </div>
        <div class="containerRow" id="containerTitle">
            <div class="sectionTitle">Manage My Money</div>
        </div>
        <form name="form" th:action="@{/user/transferToBank}" method="post">
            <div class="containerRow" id="containerSubRow">
                <h3>Pay My Buddy Balance: <span th:text="${'$' + #authentication.getPrincipal().getAccountBalance()}"></span></h3>
                <div>
                    <button class=addConnectionButton name="addConnectionButton" type="submit"
                            value="Transfer to Bank">Transfer to Bank</button>
                </div>
            </div>
        </form>
        <div class = bankManagementContainer>
            <div class="containerRow" id="payConnectionContainer">
                <div id="containerItems">

                    <form name="form" th:action="@{/user/addMoney}" method="post">
                        <ul>
                            <li><div class="amountAmountSelector">
                                <input type="text" id="amount" th:name="amount" name="amount" placeholder="How much?"/>
                            </div></li>
                            <li><button class="payButton" name="payButton" type="submit"
                                        value="Add Funds">Add Funds</button></li>
                        </ul>
                    </form>
                    <form name="form" th:action="@{/user/addBankAccount}" method="post">
                        <ul>
                            <li>
                                <input type="text" id="bankAccountNo" th:name="bankAccountNo" name="bankAccountNo"
                                       placeholder="Enter a bank account number."/>
                            </li>
                            <li><button class="payButton" type="submit"
                                        value="Link Bank Account">Link Bank Account</button></li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>