<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../static/css/style.css" type="text/css" rel="stylesheet" th:href="@{/css/style.css}">
    <title>Register</title>
</head>
<body>
<div class="mainContainer">
    <div class="navbar"></div>
    <div class="topContainer">
        <div class="login">
            <div class="registerTitle"><h2>Create an Account</h2></div>
            <form name="form" method="post" th:action="@{/register}" th:object="${user}">
                <span class="text-danger" th:errors="*{email}"></span>
                <p><input type="text" name="login" th:field="*{email}" placeholder="Email"></p>
                <span class="text-danger" th:errors="*{password}"></span>
                <p><input type="password" name="password" th:field="*{password}" placeholder="Password"></p>
                <span class="text-danger" th:errors="*{displayName}"></span>
                <p><input type="text" name="displayName" th:field="*{displayName}" placeholder="Display Name"></p>
                <p class="submit"><input type="submit" value="Submit" style="background-color:#2eb82e"></p>
            </form>
        </div>
    </div>
    <div class="bottomContainer">
        <div class="login-register">
            <p>Already have an account? <a style="color:#0066ff" href="/login">Click here to login</a>.</p>
        </div>
    </div>
</div>
</body>
</html>
