<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../static/css/style.css" type="text/css" rel="stylesheet" th:href="@{/css/style.css}">
    <title>Transfer</title>
</head>
<body>
<div class="mainContainer">
    <div class="navbar">
        <ul>
            <li id="companyIcon"><img src="../static/images/icon.png" th:src="@{/images/icon.png}"
                                      alt="Company Icon"></li></a>
            <li><a href="/user/home">Home</a></li>
            <li><a class="selected" href="/user/transfer">Transfer</a></li>
            <li><a href="/user/profile">Profile</a></li>
            <li><a href="/user/contact">Contact</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
    <div id="breadcrumb">
        <div id="pageLocationTitle">Home / <span style="color:grey">Transfer</span></div>
    </div>
    <div class="topContainer">
        <div class="containerRow" id="containerSubRow">
            <div class="sectionTitle">Send Money</div>
            <div>
                <button class=addConnectionButton onclick="location.href='/user/addConnection'" name="addConnectionButton" type="button"
                        value="Add Connection">Add Connection</button>
            </div>
        </div>
        <div class="containerRow" id="payConnectionContainer">
            <form name="form" th:action="@{/user/transfer}" method="post">
                <div id="containerItems">
                    <ul>
                        <li><select id="connectionsSelector" th:name="email" name="email" th:remove="all-but-first">
                            <option th:each="user : ${connectedUsersList}"
                                    th:text="${user.email}"
                                    th:value="${user.email}">
                            </option>
                            <option>test1@email.com</option>
                            <option>test2@email.com</option>
                            <option>test3@email.com</option>
                            </select></li>
                        <li><div class="amountAmountSelector">
                            <input type="text" id="amount" th:name="amount" name="amount" placeholder="How much?"/>
                            </div></li>
                        <li><div class="descriptionInput">
                            <input type="text" id="description" th:name="description" name="description" placeholder="What's it for?"/>
                            </div></li>
                        <li><button class="payButton" name="payButton" type="submit" value="Pay">Pay</button></li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
    <div class="bottomContainer">
        <div class="containerRow" id="transactionsSubRow">
            <div class="sectionTitle">My Transactions</div>
        </div>
        <div class="containerRow" id="transactionsTable">
            <table style="width=100%">
                <thead>
                    <tr>
                        <th>Connection</th>
                        <th>Description</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody th:remove="all-but-first">
                    <tr th:each="transactionDTO : ${transactionDTOList}">
                        <td th:text="${transactionDTO.toUserEmail}">Test1</td>
                        <td th:text="${transactionDTO.description}">Test2</td>
                        <td th:text="${#numbers.formatDecimal('$' + transactionDTO.amount, 1, 2)}">$20.00</td>
                    </tr>
                <tr>
                    <td>TestA</td>
                    <td>TestB</td>
                    <td>TestC</td>
                </tr>
                <tr>
                    <td>TestX</td>
                    <td>TestY</td>
                    <td>TestZ</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="containerRow" id="paginationElement">
            <div class="pagination">
                <a href="#">&laquo;</a>
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">&raquo;</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer"></div>
</div>
</body>
</html>